@using Aplicacion.Request.Salidas
@model ConsultarBalanceGeneralResponse
@{
	ViewData["Title"] = "Libro Contable";
	Layout = "Layout";
}
<style> 
	.gray {
		background-color: #cbcdce;
	}

	.negrita {
	}

	.alineacionDerecha {
		text-align: right;
	}
    .col{
    border:1px solid ;
    }
</style>
<br />
<h5>Fecha Impresión @DateTime.Now</h5>
<br />
<h4 class="text-center">Balance General</h4>

<div class="container">
    <div class="row">
        <div class="col text-center"><b>Activos</b></div>
        <div class="col text-center"><b>Pasivos</b></div>        
    </div>
    <div class="row">
        <div class="col"><b>Activos Corrientes</b></div>
        <div class="col"><b>Pasivos Corrientes</b></div>
    </div>
  <div class="row">
      <div class="col">
          <!--Activos corrietes-->
          @foreach (var item in Model.ActivosCorrientes)
          {
              <div class="row">
                  <div class="col">@item.Concepto</div>
                  <div class="col">@item.ValorTotal</div>
              </div>
          }         
      </div>
      <div class="col">
          <!--Pasivos corrietes-->
          @foreach (var item in Model.PasivosCorrientes)
          {
              <div class="row">
                  <div class="col">@item.Concepto</div>
                  <div class="col">@item.ValorTotal</div>
              </div>
          }
      </div>
    
  </div>
  <div class="row">
    <div class="col"><br/></div>
    <div class="col"> <br/></div>
    <div class="col">
        <div class="row">
            <div class="col">Total</div>
            <div class="col">@Model.ActivoTotal</div>
        </div>
    </div>
    <div class="col"><b>Patrimonio</b>        
        @foreach (var item in Model.Patrimonio)
        {
            <div class="row">
                <div class="col">@item.Concepto</div>
                <div class="col">@item.ValorTotal</div>
            </div>
        }        
    </div>
  </div>
</div>


