
@{
	ViewData["Title"] = "Index";
	Layout = "Layout";
}
<style>
.gray{
    background-color:#cbcdce;
}
.negrita{
        
}
.alineacionDerecha{
    text-align:right;
}
</style>
<div class="row">
      <div class="col-9">     
         <div class="row">
            <div class="col-2 gray border">     
				<b> Señores </b>                
            </div>
            <div class="col-10 border">     
                    @Model.Nombre
            </div>
        </div>
        <div class="row">
            <div class="col-2 gray border">     
                   <b>NIT</b>                 
            </div>
            <div class="col-4 border">     
                    @Model.NIT
            </div>
			<div class="col-2 gray border">
				<b>Telefono  </b>
			</div>
            <div class="col-4 border">     
                    @Model.Celular
            </div>
        </div>
        <div class="row">
			<div class="col-2 gray border">
				<b>Dirección  </b>
			</div>
            <div class="col-4 border">     
                    @Model.Direccion
            </div>
			<div class="col-2 gray border">
				<b>Ciudad   </b>
			</div>
            <div class="col-4 border">     
                    @Model.Ciudad
            </div>
        </div> 
         <div class="row">
           <div class="col-5 gray border">     
                   <b>Nombre Banco</b>                 
            </div>
            <div class="col-7 border">     
                    @Model.NombreBanco
            </div>
         </div>      		    
      </div>
      <div class="col-3">     
	    <div class="row" style="text-align: center;">            
            <div class="col-12 border">
		  <b>FechaComprobante</b> <br/>   
                   @Model.FechaComprobante <br/>           
                   <b>Cheque No </b><br/>  
                    @Model.Cheque       
            </div>            
        </div> 
      </div>
</div>
<br/>
<table class="table table-bordered">
	<thead class="thead-light">
		<tr>
			<th scope="col">Codigo</th>
			<th scope="col">Centro de Costo</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Tercero</th>			                      
			<th scope="col">Valor Total</th>
		</tr>
	</thead>
	<tbody>
        @foreach(var item in Model.Dfacturas){
		<tr>
			<th scope="row">@item.Codigo</th>
			<td>@item.CentroCosto</td>
			<td>@item.Descripcion</td>			
			<td class="text-right">@item.Tercero</td>
			<td class="text-right">@item.ValorTotal</td>
		</tr>		
        }
	</tbody>
</table>
<div class="row">
<div class="col-8"></div>
<div class="col-4">
<div class="row border ml-auto">
        <div class="col-6 gray">
                <b>Total</b>
        </div>
        <div class="col-6 gray text-right">
                @Model.ValorTotal
        </div>
</div>
</div>
</div>

<b>Observaciones</b>
@Model.Observaciones