
@{
	ViewData["Title"] = Model.NombreMov;
	Layout = "Layout";
}
<style>
.gray{
    background-color:#cbcdce;
}
.negrita{
        
}
.alineacionDerecha{
    text-align:right;
}
</style>
<div class="row">
      <div class="col-7">     
         <div class="row">
            <div class="col-2 gray border">     
				<b> Señores </b>                
            </div>
            <div class="col-10 border">     
                    @Model.Nombre
            </div>
        </div>
        <div class="row">
            <div class="col-2 gray border">     
                   <b>NIT</b>                 
            </div>
            <div class="col-4 border">     
                    @Model.NIT
            </div>
			<div class="col-2 gray border">
				<b>Telefono  </b>
			</div>
            <div class="col-4 border">     
                    @Model.Celular
            </div>
        </div>
        <div class="row">
			<div class="col-2 gray border">
				<b>Dirección  </b>
			</div>
            <div class="col-4 border">     
                    @Model.Direccion
            </div>
			<div class="col-2 gray border">
				<b>Ciudad   </b>
			</div>
            <div class="col-4 border">     
                    @Model.Ciudad
            </div>
        </div>        		    
      </div>
      <div class="col-5">     
	    <div class="row" style="text-align: center;">            
            <div class="col-6 border">
				<b>FechaComprobante</b> <br /> <br />   
                   @Model.FechaComprobante                 
            </div>
            <div class="col-6 border">  
				<b>FechaVencimiento </b><br/><br />    
                    @Model.FechaVencimiento
            </div>
        </div> 
      </div>
</div>
<br/>
<table class="table table-bordered">
	<thead class="thead-light">
		<tr>
			<th scope="col">Codigo</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Unidad</th>
			<th scope="col">Cantidad</th>
			<th scope="col">V. Unit</th>
			<th scope="col">Iva</th>                        
			<th scope="col">Valor Total</th>
		</tr>
	</thead>
	<tbody>
        @foreach(var item in Model.Dfacturas){
		<tr>
			<th scope="row">@item.Codigo</th>
			<td>@item.Descripcion</td>
			<td>@item.Unidad</td>
			<td class="text-right">@item.Cantidad</td>
			<td class="text-right">@item.ValorUnitario</td>
			<td class="text-right">@item.Iva</td>
			<td class="text-right">@item.ValorTotal</td>
		</tr>		
        }
	</tbody>
</table>
<div class="row">
<div class="col-8"></div>
<div class="col-4">
<div class="row border ml-auto">
        <div class="col-6">
                <b>Total Bruto</b>
        </div>
        <div class="col-6 text-right">
                @Model.ValorBruto
        </div>
</div>
<div class="row border ml-auto">
        <div class="col-6">
                <b>Iva Tarifa</b>
        </div>
        <div class="col-6 text-right">
                @Model.Iva
        </div>         
</div>
<div class="row border ml-auto">
        <div class="col-6 gray">
                <b>Total a Pagar</b>
        </div>
        <div class="col-6 gray text-right">
                @Model.ValorTotal
        </div>
</div>
</div>
</div>

<b>Condicion de Pago</b> <br />
@Model.CondicionPago <br />
<b>Observaciones</b>

